.name {
  font-family: "Corinthia", "Signika", "Times New Roman", "arial", "sans-serif";
  font-size: 2rem;
  font-weight: bold;
}
.handwritten {
  font-family: "Caveat", "Signika", "arial", "sans-serif";
  font-size: 2rem;
  font-weight: bold;
}
