@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika.ttf") format("truetype");
}
.content,
footer {
  width: 800px;
}
.content {
  padding: 0;
  margin: 3rem auto 0 auto;
}
footer {
  margin: 0 auto;
}
@media screen and (max-width: 845px) {
  .content,
  footer {
    width: 95%;
  }
}
h1 {
  margin-bottom: 1.5rem;

  font-size: 2rem;
}
h2,
.answers a {
  padding: 1rem 2rem;

  background: white;
}
.question-info {
  color: #83ba1f;
  font-size: 0.9rem;
}
.question {
  font-size: 1.5rem;
}
.answers {
  display: flex;
  flex-direction: column;
}
.answers a {
  border: 2px solid white;
  text-decoration: none;
  color: black;
}
.answers a:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: #74531f;
  border: 2px solid #6c43af;
}
.answers hr {
  margin: 0;
}
.your-result-caption,
.your-result-text {
  text-align: center;
}
.your-result-caption {
  font-size: 2rem;
}
.your-result-text {
  font-size: 1.5rem;
}
#your-result {
  display: none;
}
body {
  font-family: "Roboto", "arial", "sans-serif";
  background: #eaedf1;
  color: black;
}
footer {
  padding: 0 1rem 1rem 1rem;
}
.content {
  padding: 1rem 1rem;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
}
h2 {
  font-size: 1.2rem;
}
h2,
th .comparison-table {
  margin-top: 1rem;

  font-family: "Signika", "arial", "sans-serif";
  font-weight: bold;
}
h3 {
  margin-top: 1rem;

  font-size: 1.1rem;
  font-family: "Signika", "arial", "sans-serif";
  font-weight: bold;
}
.text {
  font-size: 1rem;
}
.comparison-table {
  border: 2px solid;
  border-collapse: collapse;
}
.comparison-table th {
  font-size: 1.1rem;
  background: #569ce3;
  border-bottom: 2px solid;
}
.comparison-table td {
  padding: 0.1rem 0.5rem;

  border-bottom: 1px solid #632f00;
  background: #47cf74;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  .question-info {
    font-size: 0.72rem;
  }
  .question {
    font-size: 1.2rem;
  }
  .your-result-caption {
    font-size: 1.6rem;
  }
  .your-result-text {
    font-size: 1.2rem;
  }
}
